/* STRUTTURA BASE DEL LAY OUT */
body{
    background-color: #666666;

}
.first-article{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.second-article{
    display: flex;
    justify-content: center;
    margin-top: 40px;
 

}

.task h3{
    font-weight: bold;
    font-size: 2.4em;
    font-family: "Indie Flower", cursive;
}
.task p{
    font-family: "Handlee", cursive;
    margin-top: 20px;
    font-size: 1.6em;
}

/* OGNI SINGOLO QUADRATO */
.ex1{
    background-color:#F7F7C5;

}


.ex2{
    background-color:#C6F5C8;
   

}

.ex3{
    background-color: #B1B1CD;
  

}


   

.ex4{
    background-color: #BCE4BF;


}


.ex5{
    background-color: #F9FAC8;


    
}

.ex6{
    background-color:#C5C5F0;

  
    
}

.ex7{
    background-color: #F9FAC8;
   
}

.ex8{
    background-color: #C8F8CA;
   
}






@keyframes postitappear {
    0%{
        transform: translateY(-800px);
    }
    25%{
        transform: translateY(-600px);
    }
    50%{
        transform: translateY(-400px);
    }
    75%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }


}
.task {
    width: 270px;
    height: 220px;
   margin-left: 40px;
    border: 1px solid;
 
    box-shadow: 0px 2px 12px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
    animation: postitappear 8s linear 1;
} 
.ex1{
    animation: postitappear 5s linear 1;
    transform: rotate(-5deg);
}
.ex2{
    animation: postitappear 6s linear 1;
    transform: rotate(5deg);
}
.ex3{
    animation: postitappear 7s linear 1;
    transform: rotate(-5deg);
}
.ex4{
    animation: postitappear 8s linear 1;
    transform: rotate(10deg);
}
.ex5{
    animation: postitappear 14s linear 1;
    z-index: 2;
    transform: rotate(-5deg);
}
.ex6{
    animation: postitappear 15s linear 1;
    z-index: 2;
    transform: rotate(-5deg) ;
}
.ex7{
    animation: postitappear 16s linear 1;
    z-index: 2;
    transform: rotate(-5deg) ;
}
.ex8{
    animation: postitappear 17s linear 1;
    z-index: 2;
    transform: rotate(5deg) ;
}
