/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main{
  
    margin-top: 300px;
}
#testoAlternato{
    border: 1px solid black;
    width: 500px;
    height: 70px;
    padding: 20px;
    font-weight: bold;
    position: relative;

   
}
.parole, .parole2, .parole3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: inline-block;
    color: #6D8898;
}

@keyframes text-appear {
    0% { opacity: 0; transform: translate(-50%, -40px); }   
    20% { opacity: 1; transform: translate(-50%, -10px); }  
    50% { opacity: 1; transform: translate(-50%, 0px); }    
   
    100% { opacity: 0; transform: translate(-50%, 40px); }  
}



@keyframes text-appear {
    0% { opacity: 0; transform: translate(-50%, -40px); }   
    10% { opacity: 1; transform: translate(-50%, -10px); }  
    30% { opacity: 1; transform: translate(-50%, 0px); }    
    40% { opacity: 0; transform: translate(-50%, 40px); }  
    100% { opacity: 0; transform: translate(-50%, 40px); }  
}

.parole {
    animation: text-appear 30s infinite;
}

.parole2 {
    animation: text-appear 30s infinite 10s;
}

.parole3 {
    animation: text-appear 30s infinite 20s;
}