/* STRUTTURA BASE DEL LAY OUT */
body{
    background-color: #666666;

}


.first-article{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.second-article{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.task {
    width: 270px;
    height: 220px;
    margin-left: 40px;
    border: 1px solid;
 
    box-shadow: 0px 2px 12px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task h3{
    font-weight: bold;
    font-size: 2.4em;
    font-family: "Indie Flower", cursive;
}
.task p{
    font-family: "Handlee", cursive;
    margin-top: 20px;
    font-size: 1.6em;
}

/* OGNI SINGOLO QUADRATO */
.ex1{
    background-color:#F7F7C5;
    transform: rotate(-5deg);
    transition: all 1s;
}
.ex1:hover{

    transform: rotate(0deg);
}
.ex2{
    background-color:#C6F5C8;
    transform: rotate(5deg);
    transition: all 1s;
}
.ex2:hover{

    transform: rotate(0deg);
}
.ex3{
    background-color: #B1B1CD;
    transform: rotate(-5deg);
    transition: all 1s;
}
.ex3:hover{

    transform: rotate(0deg);
}
.ex4{
    background-color: #BCE4BF;
    transform: rotate(10deg);
    transition: all 1s;
}
.ex4:hover{

    transform: rotate(0deg);
}
.ex5{
    background-color: #F9FAC8;
    transform: rotate(-5deg);
    transition: all 1s;
    
}
.ex5:hover{

    transform: rotate(0deg);
}
.ex6{
    background-color:#C5C5F0;
    transform: rotate(-5deg) ;
    transition: all 1s;
    
}
.ex6:hover{

    transform: rotate(0deg);
}
.ex7{
    background-color: #F9FAC8;
    transform: rotate(-5deg) ;
    transition: all 1s;
}
.ex7:hover{

    transform: rotate(0deg);
}
.ex8{
    background-color: #C8F8CA;
    transform: rotate(5deg) ;
    transition: all 1s;
}
.ex8:hover{

    transform: rotate(0deg);
}